---
import Layout from "../layouts/Layout.astro";
import { onePointX, zeroPointX, spectrum11 } from "../lib/versions";
import VersionList from "../components/VersionList.astro";
---

<Layout>
	<div class="p-4">
		<p
			class="font-jbm md:text-xl font-bold flex flex-row items-center justify-start b-b-1 pb-2 px-2"
		>
			<span class="color-orange mr-2">v0.x</span>
			<span class="mr-2">Versions</span>
			<span class="color-red">[UNSAFE]</span>
		</p>
	</div>

	<VersionList versions={zeroPointX} />

	<div class="p-4">
		<p
			class="font-jbm md:text-xl font-bold flex flex-row items-center justify-start b-b-1 pb-2 px-2"
		>
			<span class="color-blue mr-2">v1.x</span>
			<span class="mr-2">Versions</span>
			<span class="color-red">[UNSAFE]</span>
		</p>
	</div>

	<VersionList versions={onePointX} />

	<div class="p-4">
		<p
			class="font-jbm md:text-xl font-bold flex flex-row items-center justify-start b-b-1 pb-2 px-2"
		>
			<span class="color-red mr-2">Spectrum 11</span>
			<span class="mr-2">Versions</span>
			<span class="color-red-3 font-extrabold">[EXTREMELY UNSAFE]</span>
		</p>
	</div>

	<VersionList versions={spectrum11} />
</Layout>

<style is:global>
	.markdown > ol,
	.markdown > ul,
	.markdown > li {
		list-style-type: square;
		margin-left: 2rem;
	}
</style>
