---
import Layout from "../layouts/Layout.astro";
import BuildInfo from "../components/BuildInfo.astro";
import Header from "../components/Header.astro";
import ChangelogUI from "../components/ChangelogUI.astro";
import { modrinth } from "../lib/rinth";
import modrinthIcon from "../assets/modrinth.svg";
import type { VersionItem } from "../lib/versions";
import VersionList from "../components/VersionList.astro";
import UnsafeUI from "../components/UnsafeUI.astro";

const modrinthVersions = (
	await modrinth.getProjectVersions("the-broken-script")
).map(
	(ver) =>
		({
			name: ver.name,
			file: ver.files[0].filename,
			download: ver.files[0].url,
			changelog: ver.changelog ?? undefined, // It's null, not undefined (*angy noises*)
			isUnsafe: false,
			published: ver.date_published,
		}) satisfies VersionItem,
);
---

<Layout>
	<UnsafeUI />
	<ChangelogUI />
	<Header />

	<div class="p-4">
		<p
			class="font-jbm md:text-xl font-bold flex flex-row items-center justify-start b-b-1 pb-2 px-2"
		>
			<img src={modrinthIcon.src} class="h-[20px] md:h-[28px] mr-2" />
			<span class="color-modrinth mr-2">Modrinth</span>
			<span class="mr-2">Versions</span>
			<span class="color-green">[SAFE]</span>
		</p>
	</div>

	<VersionList versions={modrinthVersions} />

	<div class="p-4">
		<p
			class="font-jbm md:text-xl font-bold flex flex-row items-center justify-start b-b-1 pb-2 px-2"
		>
			<span class="color-green mr-2">Community</span>
			<span class="mr-2">Versions</span>
			<span class="color-yellow">[SOME UNSAFE]</span>
		</p>
	</div>

	<!-- Helps make sure the build info is at the bottom -->
	<div class="pb-24"></div>

	<BuildInfo />
</Layout>

<style is:global>
	.markdown > ol,
	.markdown > ul,
	.markdown > li {
		list-style-type: square;
		margin-left: 2rem;
	}
</style>
