---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.png";
---

<Layout>
	<div class="h-20 w-full p-4 flex flex-row items-center justify-start">
		<img src={logo.src} class="h-full object-cover" />
		<p class="text-2xl ml-4 font-jbm">The Broken Script</p>
	</div>
</Layout>
