---
interface Props {
    src: Promise<{ default: string }>;
}

const { src } = Astro.props;
---

<div class="border-1 p-3 border-[rgba(255,255,255,0.2)]">
    <audio src={(await src).default} controls></audio>

    <caption>
        <div class="italic font-bold">
            <slot />
        </div>
    </caption>
</div>
