---
import { Image } from "astro:assets";

interface Props {
    src: Promise<{ default: ImageMetadata }>;
}

const { src } = Astro.props;
---

<div>
    <Image src={(await src).default} alt="Image" />

    <caption>
        <slot />
    </caption>
</div>
