---
interface Props {
    src: Promise<{ default: string }>;
}

const { src } = Astro.props;
---

<div>
    <audio src={(await src).default} controls />

    <caption>
        <slot />
    </caption>
</div>
