---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<div
    class="h-24 md:h-20 w-full p-4 flex flex-row items-center justify-between font-jbm"
>
    <div class="flex flex-row items-center justify-start h-full">
        <Image src={logo} class="h-12 w-12 object-cover" alt="Mod Logo" loading="eager" />
        <p class="md:text-2xl ml-4">The Broken Script</p>
    </div>
</div>
