---
import { ClientRouter } from "astro:transitions";
import logo from "../assets/logo.png";
import BuildInfo from "../components/BuildInfo.astro";
import ChangelogUI from "../components/ChangelogUI.astro";
import Header from "../components/Header.astro";
import UnsafeUI from "../components/UnsafeUI.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href={logo.src} />
        <meta name="generator" content={Astro.generator} />
        <title>The Broken Script</title>
        <ClientRouter />

        <!-- Debugging -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/eruda" is:inline></script>
        <script is:inline>eruda.init();</script> -->
    </head>
    <body>
        <UnsafeUI transition:persist />
        <ChangelogUI transition:persist />
        <Header transition:persist />

        <div class="w-full h-full flex flex-col items-start justify-start">
            <div
                class="flex flex-col md:flex-row items-start justify-start w-full h-full p-4 space-y-4 md:space-y-0 md:space-x-4"
            >
                <Sidebar transition:persist />

                <div class="w-full h-full">
                    <slot />
                    <div class="w-full h-24"></div>
                </div>
            </div>

            <BuildInfo transition:persist />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
    }
</style>
