---
import { ClientRouter } from "astro:transitions";
import logo from "../assets/logo.png";
import BuildInfo from "../components/BuildInfo.astro";
import ChangelogUI from "../components/ChangelogUI.astro";
import Header from "../components/Header.astro";
import UnsafeUI from "../components/UnsafeUI.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href={logo.src} />
        <meta name="generator" content={Astro.generator} />
        <title>The Broken Script</title>
        <ClientRouter />
    </head>
    <body>
        <UnsafeUI transition:persist />
	    <ChangelogUI transition:persist />
	    <Header transition:persist />

        <slot />

        <!-- Helps make sure the build info is at the bottom -->
	    <div class="pb-24" transition:persist></div>
	    <BuildInfo transition:persist />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
    }
</style>
